h1 User show page

.container
  .row
    .row(style='margin-bottom: 20px;')
      .col-md-3
        h3 {{user.displayName}}'s profile
        img.img-responsive(src='{{user.photoUrl}}', height='120', width='160')
