div(ng-message='required') Field is required
div(ng-message='minlength') Text is too shooort
div(ng-message='maxlength') Text is too LONG
div(ng-message='email') This is not an email address
div(ng-message='date') Not a valid date
